signal-processing-NN-env/*
Project2/.env
Project2/*.mat
*.jar
Project2/respostas
# Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope Process -Force comando para permitir ativação de ambiente virtual com .ps1